# A list of packages used by the project, sorted in alphabetical order
# Exclude Python's built-in packages
accelerate
denoising-diffusion-pytorch
einops
ema-pytorch
filelock
fsspec
h5py
huggingface-hub
imageio
matplotlib
ml-collections
networkx
neuraloperator
numcodecs
numpy
pandas
pillow
pydantic
PyYAML
safetensors
scikit-learn
scipy
seaborn
svgwrite
sympy
tensorboard
tensorboardX
tensorly
tensorly-torch
torch
torch_harmonics
torchvision
tqdm
triton
wandb
zarr
